@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  @font-face {
    font-family: "vazir";
    src: url(../public/fonts/vazir/Vazir.eot);
    src: url(../public/fonts/vazir/Vazir.woff) format("woff"),
      url(../public/fonts/vazir/Vazir.woff2) format("woff2"),
      url(../public/fonts/vazir/Vazir.ttf) format("truetype");
  }
  @font-face {
    font-family: "Dana";
    src: url(../public/fonts/Dana/woff2/DanaFaNum-Regular.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Dana Medium";
    src: url(../public/fonts/Dana/woff2/DanaFaNum-Medium.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Dana Demibold";
    src: url(../public/fonts/Dana/woff2/DanaFaNum-Medium.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Moraba Light";
    src: url(../public/fonts/moraba/Morabba-Light.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Moraba Medium";
    src: url(../public/fonts/moraba/Morabba-Medium.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Moraba Bold";
    src: url(../public/fonts/moraba/Morabba-Bold.woff2) format("woff2");
    font-display: swap;
  }

  body {
    @apply bg-gray-100 dark:bg-zinc-800;
  }
  .active-link {
    @apply text-orange-300;
  }
  .indicator-menu {
    @apply w-3 h-1 bg-orange-500;
  }
  .svg-icon {
    @apply size-6 cursor-pointer w-8 h-8;
  }
  .logo-icon {
    @apply size-12 cursor-pointer w-12 h-12  text-orange-300;
  }
  .active-responsive-link {
    @apply text-orange-300 bg-zinc-600/20 rounded-md;
  }
}
/* header section */
.hero_area {
  position: relative;
  min-height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #222831;
}
.active-responsive-link {
  background-color: rgba(254, 215, 170, 0.2);
  color: #fdba74;
}
