@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  @font-face {
    font-family: "vazir";
    src: url(../public/fonts/vazir/Vazir.eot);
    src: url(../public/fonts/vazir/Vazir.woff) format("woff"),
      url(../public/fonts/vazir/Vazir.woff2) format("woff2"),
      url(../public/fonts/vazir/Vazir.ttf) format("truetype");
  }
  @font-face {
    font-family: "Dana";
    src: url(../public/fonts/Dana/woff2/DanaFaNum-Regular.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Dana Medium";
    src: url(../public/fonts/Dana/woff2/DanaFaNum-Medium.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Dana Demibold";
    src: url(../public/fonts/Dana/woff2/DanaFaNum-Medium.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Moraba Light";
    src: url(../public/fonts/moraba/Morabba-Light.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Moraba Medium";
    src: url(../public/fonts/moraba/Morabba-Medium.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Moraba Bold";
    src: url(../public/fonts/moraba/Morabba-Bold.woff2) format("woff2");
    font-display: swap;
  }

  body {
    @apply bg-gray-100 dark:bg-zinc-800;
  }
  .active-link {
    @apply text-orange-300;
  }
}
